/mysql/data/
/src/.git
/src/node_modules
/src/public/adminapp/*
/src/storage/*
/src/vendor/
/src/.env
/.idea/
/.vscode
/src/.phpunit.cache
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/vendor
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/auth.json
/src/.fleet
/.idea
/.nova
/.zed